html,
body {
  padding: 0;
  margin: 0;
  font-family: "gordita", Segoe UI, Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply font-GorditaRegular text-sm font-light text-secondaryText;
}
.subtitle {
  @apply font-GorditaRegular text-base font-light text-secondaryText;
}

h2 {
  @apply font-GorditaRegular text-2xl lg:text-[32px] lg:leading-snug;
}

.font-bold {
  @apply font-GorditaBold;
}

.font-medium {
  @apply font-GorditaMedium;
}
.slick-list {
  margin: 0 -8px;
}
.slick-slide > div {
  padding: 0 8px;
}
.MuiFormHelperText-root {
  color: #ec0000;
}

/* Overwrite */
.css-102w3xa-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #232323 !important;
  font-weight: bold !important;
}
.css-9lshym-MuiTypography-root {
  font-size: 14px;
}

/* dynamic bar */
.css-jc1gvt-MuiLinearProgress-root {
  background-color: transparent !important;
}
.MuiLinearProgress-barColorPrimary {
  background-color: #a5bb48 !important;
}
.MuiLinearProgress-barColorSecondary {
  background-color: #008906 !important;
}

@layer base {
  @font-face {
    font-family: "gordita-light";
    src: url("/fonts/Origin_Gordita-Light.woff2") format("truetype");
  }
  @font-face {
    font-family: "gordita-regular";
    src: url("/fonts/Origin_Gordita-Regular.woff2") format("truetype");
  }
  @font-face {
    font-family: "gordita-medium";
    src: url("/fonts/Origin_Gordita-Medium.woff2") format("truetype");
  }
  @font-face {
    font-family: "gordita-bold";
    src: url("/fonts/Origin_Gordita-Bold.woff2") format("truetype");
  }
  @font-face {
    font-family: "gordita-black";
    src: url("/fonts/Origin_Gordita-Black.woff2") format("truetype");
  }
}
